<div class="my-5 py-5 main-timeline" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
    <div class="row mb-5" id="qualifications-section">
        <div class="col">
            <p class="fs-1 text-center fw-bold">Qualifications</p>
        </div>
    </div>

    <div class="row m-0">

        <!-- My Experience -->
        <div class="col-12 col-lg-6">
            <div class="row m-0">
                <div
                    class="col experience text-center fs-4 fw-bold d-flex align-items-center justify-content-center gap-3 my-3 mb-5">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>
                        Experience
                    </span>
                </div>
                <div class="row m-0 mb-3">
                    <div class="p-3 exp rounded mb-3">
                        <p class="mb-1"><span class="badge rounded-pill badge-class">DEC 2021 - CURRENT</span></p>
                        <strong>FULL STACK DEVELOPER - </strong>
                        <br>
                        <span class="text-secondary">Engineer Philosophy Web Services, Indore</span>
                        <p class="mt-2">
                            I have gained proficiency in a diverse set of technologies including HTML, CSS, Bootstrap,
                            Angular, Angular Material, Ag-Grid, Node.js,
                            MySQL, Express.js, Mapbox and Turf.js.
                            This professional journey has not only expanded my technical expertise but also allowed me
                            to make meaningful contributions to noteworthy projects.
                        </p>
                    </div>
                    <div class="p-3 exp rounded">
                        <p class="mb-1"><span class="badge rounded-pill badge-class">JAN 2021 - MAY 2021</span></p>
                        <strong>WEB DEVELOPMENT (INTERN) - </strong>
                        <br>
                        <span class="text-secondary">Cubexo Software Solutions, Indore</span>
                        <p class="mt-2">
                            At Cubexo Software Solutions, I had a valuable internship experience in web development.
                            Working with the Cubexo software solution, I collaborated on real projects, created web
                            pages, and implemented design elements. It was a rewarding experience that provided insights
                            into the field of web development.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Education -->
        <div class="col-12 col-lg-6">
            <div class="row m-0">
                <div
                    class="col experience text-center fs-4 fw-bold d-flex align-items-center justify-content-center gap-3 my-3 mt-5 mt-lg-3 mb-5">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>
                        Education
                    </span>
                </div>
                <div class="row m-0 mb-3">
                    <div class="p-3 exp rounded mb-3">
                        <p class="mb-1"><span class="badge rounded-pill badge-class">Aug 2019 - Aug 2021</span></p>
                        <strong>MASTER OF COMPUTER APPLICATION</strong>
                        <br>
                        <span class="text-secondary">Medi-Caps University, Indore</span>
                        <p class="mt-2">
                            I have pursued Master of Computer Application (MCA) program, where I acquired a strong
                            foundation in computer science and software development. This academic journey has provided
                            me with valuable insights into various aspects of the field, equipping me with the knowledge
                            and skills necessary for a successful career in technology.
                        </p>
                    </div>
                    <div class="p-3 exp rounded">
                        <p class="mb-1"><span class="badge rounded-pill badge-class">Aug 2015 - Aug 2018</span></p>
                        <strong>BACHELOR OF SCIENCE (INFORMATION TECHNOLOGY)</strong>
                        <br>
                        <span class="text-secondary">Devi Ahilya University, Indore</span>
                        <p class="mt-2">
                            My Bachelor of Science (BSc) in Information Technology was a pivotal phase in my academic
                            journey, providing me with a comprehensive understanding of essential IT concepts and
                            practices. This foundational education set the stage for my subsequent academic achievements
                            and professional growth in the field of technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>