<div id="projects-main">
    <div id="projects-wrapper">
        <p id="projects-header" [ngClass]="showEffect ? 'project-header-animation' : ''">MY <span>PROJECTS</span></p>
        <div class="projects-inner">

            <!-- First Project Details -->
            <div class="p-flex" [ngClass]="showEffect ? 'right-swipe-show' : 'right-swipe-hide'">
                <!-- Image Div -->
                <a href="https://map.igismap.com/" target="_blank" class="img-div">
                    <div id="igismap" class="project-img"></div>
                </a>
                <!-- Discription -->
                <div style="flex: 2">
                    <p class="mb-10 project-heading">IGISMAP</p>
                    User can do GIS mapping on a web application, where we
                    have several tools to make gis mapping easy,
                    My involvement in the project was to develop user interface
                    and handle api integration from client side also i did research on mapbox and turf.js library for
                    developing new features in our webapplication
                    <p class="mt-10"><span>Used Technology : Html, Css, Angular Material, Angular Flex-Layout,
                            TypeScript, Angular, Maplibre, Mapbox, Turf.js</span>
                    </p>
                    <div class="mt-10 btn-grp" [ngClass]="showEffect ? 'button-show-right' : 'button-hide-right'">
                        <a href="https://map.igismap.com/" target="_blank">
                            <button>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    </svg>
                                </span>
                                <span>
                                    Prview
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Second Project Details -->
            <div class="p-flex p-flex-2" [ngClass]="showEffect ? 'left-swipe-show' : 'left-swipe-hide'">
                <div style="flex: 2">
                    <p class="mb-10 project-heading">Xcellen</p>
                    Xcellen Survey Tool is an angular based web application
                    where pharma companies can conduct surveys for their
                    products get report, add validations, set new resources and
                    can do alot of things for increasing productivity from here.
                    I'm working as a full stack developer here
                    <p class="mt-10"><span>Used Technology : Html, Css, Bootstrap, JavaScript, NodeJs, mySql,
                            ExpressJs</span></p>
                    <div class="mt-10 btn-grp" [ngClass]="showEffect ? 'button-show-left' : 'button-hide-left'">
                        <a href="https://www.xcellen.com/" target="_blank">
                            <button>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    </svg>
                                </span>
                                <span>
                                    Prview
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
                <!-- Image Div -->
                <a href="https://www.xcellen.com/" target="_blank" class="img-div">
                    <div id="xcellen" class="project-img"></div>
                </a>
            </div>


            <!-- Third Project Details -->
            <div class="p-flex" [ngClass]="showEffect ? 'right-swipe-show' : 'right-swipe-hide'">
                <!-- Image Div -->
                <a href="https://geojsoncreator.com/" target="_blank" class="img-div">
                    <div id="geojson-creator" class="project-img"></div>
                </a>
                <div style="flex: 2">
                    <p class="mb-10 project-heading">Geojson Creator Tool</p>
                    geojson-cretor-tool is an online GeoJSON creator tool based on Maplibre and created with Angular,
                    It's a single page web application where user can create, edit, upload or download geojson data
                    online
                    <p class="mt-10"><span>Used Technology : Html, Css, Bootstrap, TypeScript, Angular, Maplibre</span>
                    </p>
                    <div class="mt-10 btn-grp" [ngClass]="showEffect ? 'button-show-right' : 'button-hide-right'">
                        <a href="https://geojsoncreator.com/" target="_blank">
                            <button>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    </svg>
                                </span>
                                <span>
                                    Prview
                                </span>
                            </button>
                        </a>
                        <a href="https://github.com/pushpendra-sapkale-dev/geojson-creator-tool" target="_blank">
                            <button class="ml-10">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-github" viewBox="0 0 16 16">
                                        <path
                                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                    </svg>
                                </span>
                                <span>
                                    Github
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Fourth Project Details -->
            <div class="p-flex p-flex-2" [ngClass]="showEffect ? 'left-swipe-show' : 'left-swipe-hide'">
                <div style="flex: 2">
                    <p class="mb-10 project-heading">Bike Rental System</p>
                    bike rental is a single page web application where user can book bikes on rent in a particular
                    location here we have two modules one for admin and second for users
                    <p class="mt-10"><span>Used Technology : Html, Css, Bootstrap, JavaScript, React, NodeJs, mySql,
                            ExpressJs</span></p>
                    <div class="mt-10 btn-grp" [ngClass]="showEffect ? 'button-show-left' : 'button-hide-left'">
                        <a href="https://bikerentalui.web.app/" target="_blank">
                            <button>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    </svg>
                                </span>
                                <span>
                                    Prview
                                </span>
                            </button>
                        </a>
                        <a href="https://github.com/pushpendra-sapkale-dev/bike-rental" target="_blank">
                            <button class="ml-10">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-github" viewBox="0 0 16 16">
                                        <path
                                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                    </svg>
                                </span>
                                <span>
                                    Github
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
                <!-- Image Div -->
                <a href="https://bikerentalui.web.app/" class="img-div">
                    <div id="bike-rental" class="project-img"></div>
                </a>
            </div>

            <!-- Fifth Project Details -->
            <div class="p-flex" [ngClass]="showEffect ? 'right-swipe-show' : 'right-swipe-hide'">
                <!-- Image Div -->
                <a href="" class="img-div">
                    <div id="portfolio" class="project-img"></div>
                </a>
                <div style="flex: 2">
                    <p class="mb-10 project-heading">My Portfolio</p>
                    This is my portfolio website which you are visiting right now .....
                    <p class="mt-10"><span>Used Technology : Html, Css, TypeScript, Angular</span></p>
                    <div class="mt-10 btn-grp" [ngClass]="showEffect ? 'button-show-right' : 'button-hide-right'">
                        <a routerLink="/">
                            <button>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    </svg>
                                </span>
                                <span>
                                    Prview
                                </span>
                            </button>
                        </a>
                        <a href="https://github.com/pushpendra-sapkale-dev/my-portfolio" target="_blank">
                            <button class="ml-10">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-github" viewBox="0 0 16 16">
                                        <path
                                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                    </svg>
                                </span>
                                <span>
                                    Github
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>