<div class="main-skillz py-5 my-5" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
    <div class="row mb-5" id="skills-section">
        <div class="col">
            <p class="fs-1 text-center">My Skillz</p>
        </div>
    </div>

    <div id="my-skillz-wrapper" class="d-flex align-items-center">
        <!-- My Info Div -->
        <div class="row align-items-center flex-column flex-md-row justify-content-between w-100">
            <div class="col-md-5 skills-div">

                <div>
                    <span>HTML</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'html' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>CSS</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'css' : ''">85%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Bootstrap</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'bootstrap' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Java Script</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'js' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Type Script</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'ts' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Ecma Script</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'es' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Angular</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'angular' : ''">85%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Angular Material</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'angular-material' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>AG Grid</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'ag-grid' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Rx JS</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'rxjs' : ''">75%</div>
                    </div>
                </div>

            </div>
            <div class="col-md-5 skills-div">
                <div>
                    <span>NVM</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'nvm' : ''">80%</div>
                    </div>
                </div>

                <div>
                    <span>Node JS</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'node' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Express JS</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'express' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>My SQL</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'mysql' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>SQL</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'sql' : ''">75%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Git</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'git' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Github</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'github' : ''">90%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Mapbox</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'mapbox' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Maplibre</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'maplibre' : ''">80%</div>
                    </div>
                </div>

                <div class="mt-2">
                    <span>Turf JS</span>
                    <div class="skills-wrapper">
                        <div class="skills" [ngClass]="showEffect ? 'turf' : ''">75%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>