.link {
    color: #8a2be2;
}

.dark-mode .link {
    color: #5dd0fe;
}

.notification {
    position: fixed;
    top: 10%;
    right: 5%;
    color: #0a1b2a;
    background-color: #32e060;
    padding: 10px;
    border-radius: 50px 0 0 50px;
}

.show-notification {
    display: block;
}

.hide-notification {
    display: none;
}

/* For portrait mobile device */
@media only screen and (max-width: 576px) and (orientation: portrait) {

    .my-contacts {
        text-align: center;
    }

    .info-icons {
        justify-content: center;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .main-contact {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}