<div class="main-contact my-5 py-5" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
    <div class="row mb-5" id="contact-section">
        <div class="col">
            <p class="fs-1 text-center fw-bold">Contact</p>
        </div>
    </div>
    <div class="row d-flex align-items-center">

        <!-- My contact Details -->
        <div class="col-md-6 my-contacts">

            <!-- Email Div -->
            <div class="row">
                <div class="col">
                    <div class="d-flex info-icons">
                        <i class="fa fa-envelope" aria-hidden="true"></i> <span class="ms-3">Email</span>
                    </div>
                    <div class="mt-1">
                        <a target="_blank" href="mailto: dev.psapkale@gmail.com"
                            class="text-decoration-none link">dev.psapkale&#64;gmail.com</a>
                    </div>
                </div>
            </div>

            <!-- Linkedin Div -->
            <div class="row mt-4">
                <div class="col">
                    <div class="d-flex info-icons">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="ms-3">Linkedin</span>
                    </div>
                    <div class="mt-1">
                        <a target="_blank" href="https://in.linkedin.com/in/iampushpendraji"
                            class="text-decoration-none link">/in/iampushpendraji</a>
                    </div>
                </div>
            </div>

            <!-- Github Div -->
            <div class="row mt-4">
                <div class="col">
                    <div class="d-flex info-icons">
                        <i class="fa fa-github" aria-hidden="true"></i> <span class="ms-3">Github</span>
                    </div>
                    <div class="mt-1">
                        <a target="_blank" href="https://github.com/iampushpendraji"
                            class="text-decoration-none link">/iampushpendraji</a>
                    </div>
                </div>
            </div>

            <!-- Github Div -->
            <div class="row mt-4">
                <div class="col">
                    <div class="d-flex info-icons">
                        <i class="fa fa-phone" aria-hidden="true"></i> <span class="ms-3">Phone</span>
                    </div>
                    <div class="mt-1">
                        <a target="_blank" href="tel: +919977369753"
                            class="text-decoration-none link">+919977369753</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Get In Touch Form -->
        <div class="col-md-6 mt-5 mt-md-0">
            <form #contactForm="ngForm" (ngSubmit)="sendMessage(contactForm)">

                <div class="mb-3">
                    <label for="form-email" class="form-label">Your Email</label>
                    <input [ngStyle]="( em.dirty || em.touched ) && ( em?.hasError('required') || em.hasError('pattern')) ? {'border': 'Solid Red'} : {}" #em="ngModel" type="email" class="form-control" placeholder="Enter Your Email Address" name="email" ngModel id="form-email" required [pattern]="email_pattern">
                </div>

                <div class="mb-3">
                    <label for="form-name" class="form-label">Name</label>
                    <input [ngStyle]="( nam.dirty || nam.touched ) && ( nam?.hasError('required') || nam.hasError('pattern')) ? {'border': 'Solid Red'} : {}" #nam="ngModel" type="text" class="form-control" placeholder="Enter Your Name" name="name" ngModel id="form-name" required>
                </div>

                <div class="mb-4">
                    <label for="form-message" class="form-label">Message</label>
                    <textarea [ngStyle]="( mess.dirty || mess.touched ) && ( mess?.hasError('required') || mess.hasError('pattern')) ? {'border': 'Solid Red'} : {}" #mess="ngModel" class="form-control" placeholder="Enter Your Message Here" name="message" ngModel id="form-message"
                        style="height: 100px" required></textarea>
                </div>

                <button [disabled]="showSpinner" type="submit" class="btn btn-custom d-flex align-items-center">
                    <div *ngIf="showSpinner" class="spinner-border spinner-dark spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span [ngClass]="showSpinner ? 'ms-2' : ''">
                        Submit
                    </span>
                </button>
            </form>
        </div>
    </div>

    <!-- Notification box -->
    <div class="notification" *ngIf="showNotification">
        {{ msg }}
    </div>
</div>


