<div id="main">
    <div id="quotes">
        <div id="quotes-outer">
            <div id="quotes-inner" class="typewriter ">
                <p>Hi, I'm</p>
                <p>Pushpendra Sapkale</p>
                <p>Full-Stack Developer</p>
                <p>Creative and technical web development team player,</p>
                <p>I'm passionate about creating fully functional and beautiful</p>
                <p class="last-p">web applications that can solve problems and simplify our life .....</p>
                <div id="btn-group">
                    <button (click)="jumpTo()">Resume</button>
                    <button routerLink="/contact-me">Contact Me</button>
                </div>
            </div>
        </div>
    </div>
    <div id="image-container"></div>
</div>