#main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#quotes {
    display: flex;
    align-items: center;
    justify-content: center;
}

#quotes-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quotes-inner p:nth-child(1) {
    font-size: 50px;
}

#quotes-inner p:nth-child(2) {
    font-size: 40px;
    font-weight: bolder;
}

#quotes-inner p:nth-child(3) {
    font-size: 25px;
}

#quotes-inner p:nth-child(4) {
    font-size: 20px;
    margin-top: 30px;
}

#quotes-inner p:nth-child(5),
#quotes-inner p:nth-child(6) {
    font-size: 20px;
}

#quotes-outer {
    height: 60vh;
    width: 700px;
    border: 10px double;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-container {
    flex: 1;
    background-image: url('../../../assets/img/home-img.jpg');
    height: 85vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#btn-group {
    margin-top: 40px;
}

#btn-group button {
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    border: 1px solid black;
    background: black;
    color: aliceblue;
    font-weight: bolder;
}

#btn-group button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#btn-group button:nth-child(2) {
    margin-left: 20px;
}

/* For mobile device or portrat tablets */
@media only screen and (max-width: 768px) {
    #quotes {
        flex: 1;
    }

    #quotes-outer {
        width: auto;
        text-align: center;
    }

    #image-container {
        height: 50%;
        flex: 1;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #main {
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 40px;
    }

    #btn-group button {
        width: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

    #quotes {
        flex: 1;
    }

    #quotes-outer {
        width: auto;
        text-align: center;
    }

    #image-container {
        height: 50%;
        flex: 1;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #main {
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 40px;
        padding: 50px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #quotes {
        height: 70vh;
        flex: 2;
    }

    #quotes-inner p {
        font-family: cursive;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1284px) and (orientation : landscape) {

    #quotes {
        flex: 1;
    }

    #quotes-outer {
        width: auto;
        text-align: center;
    }

    #image-container {
        height: 50%;
        flex: 1;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #main {
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 40px;
        padding: 50px;
    }

}


/* For Mobile Landscape Mode */
@media only screen and (max-width: 992px) and (min-width: 768px) and (orientation: landscape) {

    #image-container {
        display: none;
    }

    #quotes-outer {
        height: 100%;
        width: 100%;
    }

}