<div id="main">
    <div id="quotes">
        <div id="quotes-outer">
            <div id="quotes-inner">
                <p>Hi I am</p>
                <p>Pushpendra Sapkale</p>
                <p>Full-Stack Developer, Footballer</p>
                <p>Creative and technical web development team player,</p>
                <p>I'm passionate about creating fully functional and beautiful</p>
                <p>web applications that can solve problems and simplify our life .....</p>
                <div id="btn-group">
                    <a href="https://drive.google.com/file/d/1oQA2YXmi-j7k1Om0e77UAZjQLiMdd0AG/view?usp=sharing"
                        target="_blank"><button>Resume</button></a>
                    <button routerLink="/contact-me">Contact Me</button>
                </div>
            </div>
        </div>
    </div>
    <div id="image-container"></div>
</div>