<div class="main-experience my-5 py-5" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
    <div class="row mb-5" id="experience-section">
        <div class="col">
            <p class="fs-1 text-center fw-bold">Experience</p>
        </div>
    </div>

    <div class="row m-0">

        <!-- My Experience -->
        <div class="col-12 col-lg-6">
            <div class="row m-0">
                <div class="col text-center fs-4 fw-bold d-flex align-items-center justify-content-center gap-3 my-3">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>
                        Experience
                    </span>
                </div>
                <div class="row m-0 mb-3">
                    <div class="p-3 exp rounded mb-3">
                        <p class="mb-1"><span class="badge rounded-pill badge-class">DEC 2021 - CURRENT</span></p>
                        <strong>FULL STACK DEVELOPER - </strong>
                        <br>
                        <span class="text-secondary">Engineer Philosophy Web Services, Indore</span>
                        <p class="mt-2">
                            I have gained proficiency in a diverse set of technologies including HTML, CSS, Bootstrap, 
                            Angular, Angular Material, Ag-Grid, Node.js,
                            MySQL, Express.js, Mapbox and Turf.js.
                            This professional journey has not only expanded my technical expertise but also allowed me
                            to make meaningful contributions to noteworthy projects.
                        </p>
                    </div>
                    <div class="p-3 exp rounded">
                        <p class="mb-1"><span class="badge rounded-pill badge-class">JAN 2021 - MAY 2021</span></p>
                        <strong>WEB DEVELOPMENT (INTERN) - </strong>
                        <br>
                        <span class="text-secondary">Cubexo Software Solutions, Indore</span>
                        <p class="mt-2">
                            At Cubexo Software Solutions, I had a valuable internship experience in web development.
                            Working with the Cubexo software solution, I collaborated on real projects, created web
                            pages, and implemented design elements. It was a rewarding experience that provided insights
                            into the field of web development.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Education -->
        <div class="col-12 col-lg-6">

        </div>
    </div>
</div>