.home-button-div {
    z-index: 10;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #8a2be2;
    color: #f0f8ff;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dark-mode .home-button-div {
    background-color: #5dd0fe;
    color: #0a1b2a;
}

iframe {
    height: 99vh;
    width: 100%;
}