.nightMode {
    width: 25px;
}

.fa {
    font-size: 25px;
}

/* Here we have all the global styles related dark mode */
.dark-mode .fa {
    color: aliceblue;
}

.dark-mode a {
    color: aliceblue;
}

.dark-mode a:hover {
    color: #5dd0fe;
}

a:hover {
    color: #8a2be2;
}

.dark-mode .active-nav {
    color: #5dd0fe;
}

.active-nav {
    color: #8a2be2;
}