.nightMode {
    width: 25px;
}

.dark-mode a {
    color: #f0f8ff;
}

.dark-mode a:hover {
    color: #5dd0fe;
}

a:hover {
    color: #8a2be2;
}

.dark-mode .active-nav {
    color: #5dd0fe;
}

.active-nav {
    color: #8a2be2;
}