<div id="about-main">
    <div id="about-wrapper">
        <p id="about-header">ABOUT <span>ME</span></p>
        <div class="skillz-main">
            <div class="wrapper" style="flex: 1;">
                <!-- Skillz div -->
                <!-- About me div -->
                <div id="about">
                    <div id="my-pic-wrapper">
                        <div id="my-pic"></div>
                    </div>
                    <div id="quotes">
                        <p id="name">Pushpendra Sapkale</p>
                        <p id="proff">Professional web developer and designer</p>
                        <p id="quote1">Web developer delivering quality work.
                            I can provide clean code and pixel perfect design. I also make the website more & more
                            interactive with web animations</p>

                    </div>
                    <div class="my-quality-wrapper">
                        <div class="my-quality">
                            <button>Creative</button>
                            <button>Hard Work</button>
                        </div>
                        <div class="my-quality">
                            <button>Responsible</button>
                            <button>Commitment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="skillz">
                <div id="wrap">
                    <div>
                        HTML
                        <div class="container">
                            <div class="skills html">90%</div>
                        </div>
                    </div>
                    <div>
                        Css
                        <div class="container">
                            <div class="skills css">85%</div>
                        </div>
                    </div>
                    <div>
                        JavaScript
                        <div class="container">
                            <div class="skills js">80%</div>
                        </div>
                    </div>
                    <div>
                        Bootstrap
                        <div class="container">
                            <div class="skills bootstrap">90%</div>
                        </div>
                    </div>
                    <div>
                        Angular
                        <div class="container">
                            <div class="skills angular">85%</div>
                        </div>
                    </div>
                    <div>
                        ReactJs
                        <div class="container">
                            <div class="skills react">80%</div>
                        </div>
                    </div>
                    <div>
                        NodeJs
                        <div class="container">
                            <div class="skills node">80%</div>
                        </div>
                    </div>
                    <div>
                        MySql
                        <div class="container">
                            <div class="skills mysql">90%</div>
                        </div>
                    </div>
                    <div>
                        Sql
                        <div class="container">
                            <div class="skills sql">75%</div>
                        </div>
                    </div>
                    <div>
                        Mapbox
                        <div class="container">
                            <div class="skills mapbox">80%</div>
                        </div>
                    </div>
                    <div>
                        Git / Github
                        <div class="container">
                            <div class="skills git">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>