<div id="about-main">
    <div id="about-wrapper">
        <p class="about-header" [ngClass]="showEffect ? 'about-header-show' : ''">ABOUT <span>ME</span></p>
        <div class="skillz-main">
            <div class="wrapper" [ngClass]="showEffect ? 'showWindowEffect' : ''">
                <!-- Skillz div -->
                <!-- About me div -->
                <div class="about" [ngClass]="showEffect ? 'showOpacityEffect' : 'hideOpacityEffect'">
                    <div id="my-pic-wrapper">
                        <div id="my-pic"></div>
                    </div>
                    <div id="quotes">
                        <p id="name">Pushpendra Sapkale</p>
                        <p id="proff">Professional web developer and designer</p>
                        <p id="quote1">Web developer delivering quality work.
                            I can provide clean code and pixel perfect design. I also make the website more & more
                            interactive with web animations</p>

                    </div>
                    <div class="my-quality-wrapper">
                        <div class="my-quality">
                            <button>Creative</button>
                            <button>Hard Work</button>
                        </div>
                        <div class="my-quality">
                            <button>Responsible</button>
                            <button>Commitment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="skillz" [ngClass]="showEffect ? 'showWindowEffect' : ''">
                <div id="wrap" [ngClass]="showEffect ? 'showOpacityEffect' : 'hideOpacityEffect'">
                    <div>
                        HTML
                        <div class="container">
                            <div class="skills html" [ngClass]="showEffect ? 'htmlwidth' : ''">90%</div>
                        </div>
                    </div>
                    <div>
                        Css
                        <div class="container">
                            <div class="skills css" [ngClass]="showEffect ? 'csswidth' : ''">85%</div>
                        </div>
                    </div>
                    <div>
                        JavaScript
                        <div class="container">
                            <div class="skills js" [ngClass]="showEffect ? 'jswidth' : ''">80%</div>
                        </div>
                    </div>
                    <div>
                        Bootstrap
                        <div class="container">
                            <div class="skills bootstrap" [ngClass]="showEffect ? 'bootstrapwidth' : ''">90%</div>
                        </div>
                    </div>
                    <div>
                        Angular Material
                        <div class="container">
                            <div class="skills angular-material" [ngClass]="showEffect ? 'angularmaterialwidth' : ''">80%</div>
                        </div>
                    </div>
                    <div>
                        Angular
                        <div class="container">
                            <div class="skills angular" [ngClass]="showEffect ? 'angularwidth' : ''">85%</div>
                        </div>
                    </div>
                    <div>
                        ReactJs
                        <div class="container">
                            <div class="skills react" [ngClass]="showEffect ? 'reactwidth' : ''">80%</div>
                        </div>
                    </div>
                    <div>
                        NodeJs
                        <div class="container">
                            <div class="skills node" [ngClass]="showEffect ? 'nodewidth' : ''">80%</div>
                        </div>
                    </div>
                    <div>
                        MySql
                        <div class="container">
                            <div class="skills mysql" [ngClass]="showEffect ? 'mysqlwidth' : ''">90%</div>
                        </div>
                    </div>
                    <div>
                        Sql
                        <div class="container">
                            <div class="skills sql" [ngClass]="showEffect ? 'sqlwidth' : ''">75%</div>
                        </div>
                    </div>
                    <div>
                        Mapbox
                        <div class="container">
                            <div class="skills mapbox" [ngClass]="showEffect ? 'mapboxwidth' : ''">80%</div>
                        </div>
                    </div>
                    <div>
                        Git / Github
                        <div class="container">
                            <div class="skills git" [ngClass]="showEffect ? 'gitwidth' : ''">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>