<div id="about-main">
    <div id="about-wrapper">
        <p id="about-header">ABOUT <span>ME</span></p>
        <div class="wrapper">
            <!-- Skillz div -->
            <div id="skillz" style="border: solid;">
                <div>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Java Script</li>
                        <li>Type Script</li>
                        <li>ECMA Script</li>
                        <li>Bootstrap</li>
                        <li>Angular</li>
                        <li>React</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Node Js</li>
                        <li>Express Js</li>
                        <li>MySql</li>
                        <li>Sql</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Git</li>
                        <li>GitHub</li>
                    </ul>
                </div>
            </div>
            <!-- About me div -->
            <div id="about">
                <div id="my-pic"></div>
                <div id="quotes">
                    <p id="name">Pushpendra Sapkale</p>
                    <p id="proff">Professional web developer and designer</p>
                    <p id="quote1">Web developer delivering quality work.
                        I can provide clean code and pixel perfect design. I also make the website more & more
                        interactive with web animations</p>

                </div>
                <div class="my-quality-wrapper">
                    <div class="my-quality">
                        <button>Creative</button>
                        <button>Hard Work</button>
                    </div>
                    <div class="my-quality">
                        <button>Responsible</button>
                        <button>Commitment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>