/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.dark-mode .btn-custom,
.dark-mode .btn-custom:active,
.dark-mode .btn-custom:hover {
  color: black;
  background-color: rgb(93, 208, 254);
  border-color: rgb(93, 208, 254);
}

.btn-custom,
.btn-custom:active,
.btn-custom:hover {
  color: aliceblue;
  background-color: blueviolet;
}

.dark-mode .btn-inline-custom,
.dark-mode .btn-inline-custom:active {
  color: rgb(93, 208, 254);
  border-color: rgb(93, 208, 254);
}

.btn-inline-custom,
.btn-inline-custom:active {
  color: blueviolet;
  border-color: blueviolet;
}

.dark-mode .btn-inline-custom:hover {
  background-color: rgb(93, 208, 254);
  color: black;
  border-color: rgb(93, 208, 254);
}

.btn-inline-custom:hover {
  background-color: blueviolet;
  color: white;
  border-color: blueviolet;
}