<div id="home-wrapper" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">

    <!-- My Info Descriptions -->
    <div class="desc-box col text-lg-start">
        <h2 class="mb-0 fw-bold fs-1">Hi, I'm</h2>
        <h2 class="fw-bold fs-1">Pushpendra Sapkale</h2>
        <h4 id="job-role">Full Stack Developer</h4>
        <p class="mt-5">Experienced Full Stack Developer with two years
            of experience in creating dynamic and usercentric
            web applications. Proficient in both frontend and
            backend technologies, With a strong foundation in
            software engineering principles. If you're seeking a
            versatile Full Stack Developer who can consistently
            deliver solutions, I'm eager to contribute my skills
            to your development initiatives.</p>
        <div class="mt-5 btn-g">
            <a href="https://drive.google.com/drive/folders/1xV450nYKZx3KFpdMDrzp1xC3y4MYOomP?usp=sharing" target="_blank" class="btn btn-custom">Resume</a>
            <button class="btn btn-inline-custom ms-5" (click)="jumpToContact()">Contact</button>
        </div>
        <div class="mt-4 d-flex contact-icons">
            <a class="nav-link ms-auto mx-lg-0" aria-current="page" target="_blank" href="https://in.linkedin.com/in/pksapkale">
                <i class="fa fa-linkedin-square fa-2x cursor-pointer" aria-hidden="true"></i>
            </a>
            <a class="nav-link me-auto ms-3" aria-current="page" target="_blank" href="mailto:dev.psapkale@gmail.com">
                <i class="fa fa-envelope fa-2x cursor-pointer" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <!-- My Image -->
    <div class="col" id="my-pic"></div>
</div>